/* HERO CONTAINER */
.hero {
  position: relative;
  height: 95vh;
  overflow: hidden;
}

/* IMAGE + VIDEO WRAPPER */
.hero-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

/* CURVE SHAPE (BOTTOM) */
.hero-img-wrapper::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 60px;
  background: black;

  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  z-index: 2;
}

/* DARK OVERLAY */
.hero-img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  z-index: 1;
  pointer-events: none;
}

/* IMAGE */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

/* IMAGE */
.banner-img-video {
    padding-top: 100px;

}



.hero-img-wrapper iframe {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 180.77vh;   /* 16:9 ratio trick */
  height: 190%;

  transform: translate(-50%, -50%);
  border: none;
  z-index: 0;
}
/* CAPTION */
.hero-caption {
  position: absolute;
  bottom: 25%;
  left: 10%;
  max-width: 600px;
  color: #fff;
  z-index: 3;
}

/* TITLE IMAGE */
.caption-img {
  width: 3%;
  max-width: 420px;
}

/* TEXT */
.hero-caption p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* BUTTONS */
.hero-btns {
  display: flex;
  gap: 12px;
}

.hero-btns .btn {
  border: none;
  padding: 10px 22px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btns .btn img {
  width: 22px;
}

.hero-btns .btn.dark-btn {
  color: #fff;
  background: rgba(109, 109, 110, 0.7);
}

.hero-btns .btn:hover {
  background: rgba(255, 255, 255, 0.8);
}

.hero-btns .btn.dark-btn:hover {
  background: rgba(109, 109, 110, 0.4);
}

.banner-img,
.hero-img-wrapper iframe {
  transition: opacity 0.5s ease;
}