.navbar {
  width: 100%;
  padding: 15px 4%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;

  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  z-index: 999;
  transition-duration: 1000ms;
  overflow: visible;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left svg {
  width: 180px;
}

/* MENU */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu li {
  cursor: pointer;
}

/* TOGGLE BUTTON */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* RIGHT */
.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 3px;
  width: 30px;
}

/* PROFILE */
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 6px;
  text-decoration: underline;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;

  z-index: 1000;
}

.dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-dark {
  background: #141414;
  transition-duration: 1400ms;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: black;
    padding: 20px 0;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }
  .netflix-icon {
    height: 35px;
  }
  .navbar img {
    height: 25px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    height: 20px;
  }

  .navbar-right img {
    height: 20px;
  }

  .netflix-icon {
    height: 25px;
  }

  .navbar-right {
    gap: 10px;
  }
}

@media (max-width: 425px) {
  .navbar img {
    height: 18px;
  }

  .navbar {
    padding: 15px;
  }

  .children {
    display: none;
  }

  .netflix-icon {
    height: 24px;
  }

  .dropdown {
    top: 150%;
    padding: 12px 18px;
  }

  .navbar-profile img {
    height: 18px;
    width: 10px;
  }

  div.navbar-profile img.profile {
    height: 20px;
    width: 20px;
  }

  .dropdown p {
    font-size: 10px;
  }

  .navbar-right {
    gap: 15px;
  }
}

@media (max-width: 375px) {
  .children {
    display: none;
  }

  .dropdown {
    padding: 10px 15px;
  }

  .dropdown p {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  .navbar img {
    height: 10px;
  }

  .children {
    display: none;
  }

  .navbar {
    padding: 10px;
  }

  .dropdown {
    padding: 8px 15px;
  }

  .dropdown p {
    font-size: 8px;
  }

  .navbar-right {
    gap: 10px;
  }
}

ul li a {
  text-decoration: none;
  color: #e5e5e5;
  padding-bottom: 4px;
  transition: 0.3s;
}

ul li a:hover {
  color: white;
}

.active-link {
  border-bottom: 2px solid #e50914;
  color: white;
}